
x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  env_file:
    - .env
  environment:
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: mysql+mysqldb://admin:${DB_PASSWORD}@${DB_HOST}:3306/${DB_NAME}
    AIRFLOW__CELERY__RESULT_BACKEND: db+mysql+mysqldb://admin:${DB_PASSWORD}@${DB_HOST}:3306/${DB_NAME}
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    # AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'false'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__WEBSERVER__EXPOSE_CONFIG: 'true'
    AIRFLOW__WEBSERVER__SECRET_KEY: "airflow" 
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./scripts:/opt/airflow/scripts
    - ./crawlers:/opt/airflow/crawlers
    - ./processing:/opt/airflow/processing
    - ./db:/opt/airflow/db
    - ./data:/opt/airflow/data
    - ./config:/opt/airflow/config
    - ./extraction:/opt/airflow/extraction
    - ./.env:/opt/airflow/.env
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    redis:
      condition: service_healthy
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
services:
  
# MySQL
  mysql:
    image: mysql:8.0
    container_name: news_mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "1234"     
      MYSQL_DATABASE: "article_db"  
      TZ: Asia/Seoul
    command: 
      # UTF-8 설정 
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    ports:
      - "3307:3306" 
    volumes:
      - mysql_data_volume:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
  redis:
    image: redis:7.2
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
    restart: always

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler

  airflow-worker:
    <<: *airflow-common
    command: celery worker
    shm_size: '2gb'

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer

  airflow-init:
    <<: *airflow-common
    build:
      context: .
      dockerfile: Dockerfile
    image: custom-airflow:2.7.3
    command: ["bash", "-c", "airflow db upgrade && airflow users create --username admin --password admin --firstname admin --lastname admin --role Admin --email admin@example.com"]
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./scripts:/opt/airflow/scripts
      - ./crawlers:/opt/airflow/crawlers
      - ./processing:/opt/airflow/processing
      - ./db:/opt/airflow/db
      - ./data:/opt/airflow/data
      - ./config:/opt/airflow/config
      - ./extraction:/opt/airflow/extraction
    user: "${AIRFLOW_UID:-50000}:0" 


volumes:
  postgres-db-volume:
  mysql_data_volume: