apache-airflow-providers-mysql==3.3.0
pymysql
selenium
webdriver-manager
beautifulsoup4
lxml
pandas
openpyxl
konlpy
jpype1
psutil
undetected-chromedriver
scikit-learn
s3fs
cryptography
boto3
pymysql
google-generativeai